/*=======================================================
//CSS MAIN - MEAN black belt -- appointments styling
//=====================================================*/
#error 
{
	color: red;
}
/*=======================================================
//login.html
//=====================================================*/
div#login 
{
	margin-top: 100px;
}
div#name 
{
	margin-top: 20px;
}
/*=======================================================
//dashboard.html
//=====================================================*/
span#dash-user {
	color: green;
}
div#search-dash 
{
	margin-bottom: 15px;
}
/*=======================================================
//newAppointment.html
//=====================================================*/
div#newAppointment button
{
	margin-top: 15px;
}
